

<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<li [ngClass]="{ 'completed': todo.completado,
                 'editing': editando }">
    <div class="view">
      <input class="toggle" 
             type="checkbox"
             [formControl]="chkField"
             [checked]="todo.completado">

      <label (dblclick)="editar()">{{ todo.texto }}</label>

      <button (click)="borrarTodo()" class="destroy"></button>
    </div>
    <input class="edit" 
           [value]="todo.texto"
           [formControl]="txtInput"
           (blur)="terminarEdicion()"
           #txtInputFisico>
</li>